@page "/login"

<div id="logreg-forms" class="bg-dark border" style="direction: rtl; text-align: right;">

    <h1 class="h3 mb-3 pt-3 font-weight-normal text-primary" style="text-align:center;">ورود</h1>

    <EditForm Model="UserForAuthentication" OnValidSubmit="LoginUser">
        <DataAnnotationsValidator />

        @if (ShowAuthenticationErrors)
        {
            <p class="text-center text-danger">@Errors</p>
        }

        <InputText @bind-Value="UserForAuthentication.UserName" id="email" placeholder="ایمیل..." class="form-control mb-2" />
        <ValidationMessage For="(()=>UserForAuthentication.UserName)"></ValidationMessage>
        <InputText @bind-Value="UserForAuthentication.Password" type="password" placeholder="رمز عبور..." id="password" class="form-control mb-2" />
        <ValidationMessage For="(()=>UserForAuthentication.Password)"></ValidationMessage>

        @if (IsProcessing)
        {
            <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> لطفا صبر کنید...</button>
        }
        else
        {
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> ورود</button>
        }
        <a href="/registration"
           class="btn btn-primary text-white mt-3"><i class="fas fa-user-plus"></i> ثبت نام کاربر جدید</a>
    </EditForm>

</div>
@code {

}