
<AuthorizeView>
    <Authorized>
        <span class="p-2 m-2">
            @context.User.Identity.Name
        </span>
        <a href="Identity/Account/Logout">خروج</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">عضویت</a>
        <a href="Identity/Account/Login">ورود</a>
    </NotAuthorized>
</AuthorizeView>
@code {

}
