@page "/landing/about"
@page "/about"

<div class="container mt-5 text-right">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/RoomImages/94393393.jpg" class="card-img" alt="Danial Abedini">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">دانیال عابدینی</h2>
                            <p class="card-text">برنامه‌نویس و توسعه‌دهنده نرم‌افزار</p>
                            <p class="card-text">
                                دانیال عابدینی، برنامه‌نویس و توسعه‌دهنده نرم‌افزار با چندین سال تجربه در حوزه‌های مختلف توسعه وب و نرم‌افزار است. با تخصص در تکنولوژی‌های مدرن و نوآورانه مانند Blazor، .NET و JavaScript، او توانسته است پروژه‌های موفق بسیاری را به ثمر برساند.
                            </p>
                            <p class="card-text">
                                دانیال با علاقه به یادگیری تکنولوژی‌های جدید و حل چالش‌های پیچیده، به دنبال ارائه بهترین راه‌حل‌ها و توسعه برنامه‌های پایدار و کارا است. او با تجربه و مهارت خود توانسته به یکی از پیشروهای این حوزه تبدیل شود.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
