@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "عدم دسترسی";
}

<header style="direction: rtl; text-align: right;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">مجوز دسترسی به این قسمت رو ندارید.</p>
</header>