@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "تایید تغیییر ایمیل";
}
<div style="direction: rtl; text-align: right;">
    <h1>@ViewData["Title"]</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />