@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "ارسال ایمیل برای تغییر رمز عبور";
}

<div style="direction: rtl; text-align: right;">
    <h1>@ViewData["Title"]</h1>
    <p>
        برای تغییر رمز عبور ایمیل خود را چک کنید
    </p>
</div>

