@page
@model LockoutModel
@{
    ViewData["Title"] = "قفل شده";
}
<header style="direction: rtl; text-align: right;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">متاسفانه این ضفحه قفل شده است بعدا تلاش کنید</p>
</header>
