@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تاییدیه بازنشانی رمز عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    رمز عبور با موفقیا بازنشانی شد<a asp-page="./Login">برای ورود کلیک کنید</a>.
</p>
